# Created by venv; see https://docs.python.org/3/library/venv.html
*.pyc
/media/
/static/
general.log

# Virtual environment
env/
venv/
.venv/

# Python
__pycache__/
*.pyc

# Django
db.sqlite3
staticfiles/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

